body{
	margin: 0;
}
header{
	background-color: green;
	color: white;
	padding: 10px;
	border-bottom: 1px black;
}
header > h2{
	margin-top: 0;
	display: inline;
}
header > ul{
	display: inline;
	margin: 0;
	padding: 4px;
	float: right;
}
header > ul > li{
	list-style-type: none;
	display: inline;
	text-align: right;
}

li > a {
	text-decoration: none;
	color: white;
}

.contenido{
	margin: 10px;
}